<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Administrador Vacunassist </h1> 
<div>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Lista de Pacientes", pacientes_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Lista de Turnos Diarios", ver_lista_turnos_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Historial de Turnos", historialdeturnos_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
     <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Lista de Enfermeros", listadoenfermero_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Estadisticas",estadisticas_mostrar_path, class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <p>
    <button style="background-color:yellow">
   <%= link_to "Información de Contacto", ver_contacto_path, class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <button style="background-color:yellow">
	 <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
    </button>
    </p>
<%= link_to "Atrás", home_path %>
   

</div>

</body>
</html>
