<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Enfermero de Vacunassist </h1> 
<div>
   <% if current_user.rol == 3 %>
      <% controller.redirect_to pantallaadmin_path(current_user) %>
     <% end %>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Pantalla Paciente", home_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Lista de Pacientes", pacientes_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Lista de Turnos Diarios", ver_lista_turnos_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
    <p>
    <button style="background-color:yellow">
      <%= link_to "Ver Historial de Turnos", historialdeturnos_path(current_user), class: 'btn btn-info btn-sm' %>
    </button>
    </p>
<%= link_to "Atrás", home_path %>
   

</div>

</body>
</html>
