<!DOCTYPE html> 
<html>
<body>
<h1>Resultados de la Búsqueda</h1> 
   <% if not @users.any? %>
      <p> No hay coincidencias </p>
   <% end %> 
   <% @users.all.where(rol: "1").or(@users.where(rol: "2")).order('name, apellido').each do |user| %>
       <p>
         <p>Nombre: <%= user.name %> Apellido: <%= user.apellido %> DNI <%= user.dni %>
              <button style="background-color:yellow">
	          <%= link_to "Ver Información del paciente", verdatospaciente_path(user), class: 'btn btn-info btn-sm' %>
          </button>   
          <% if user.historia.attached? %>
                <button style="background-color:yellow;">
                 <%= link_to "Ver Historia de Vacunación", user.historia, class: 'btn btn-info btn-sm' %>
                </button>
          <% else %>
                <button disabled=true style="background-color:grey;">
                 <%= link_to "Sin Historia", class: 'btn btn-info btn-sm' %>
                </button>

          <% end %>
           <button style="background-color:yellow">
                 <%= link_to "Ver Certificados del Paciente",comprobante_index_path(user.id), class: 'btn btn-info btn-sm' %>
          </button>  
          <button style="background-color:yellow">
	          <%= link_to "Ver Historial de Turnos del paciente", historialdeturnospaciente_path(user), class: 'btn btn-info btn-sm' %>
          </button>     
       </p>
    <% end %> 


    
<%= link_to "Atrás", pacientes_path(current_user) %>
   

</div>

</body>
</html>
