<!DOCTYPE html> 
<html>
<body>
<h1> Gripe </h1> 
<div>
   <h3> Por favor complete todos los campos </h3> 
    <%= form_with url: "/crearturnogripe/:id", method: :patch do |f| %>
               <div>
                  <%= f.label :vacunatorio %>
                  <%= f.number_field :vacunatorio, required: true , min: 1, max: 3%> 
                  <%= f.label :hora %>
                  <%= f.time_field :hora, required: true, min: "08:00", max: "20:00", step: 900 %> 
                  <%= f.label :fecha %>
                  <%= f.date_field :fecha, required: true%>  
                  <%= f.submit "Obtener Turno"%>
               </div>
                              
                       <% end %>
   
    
<%= link_to "Atrás", home_path(current_user) %>
   

</div>

</body>
</html>
