<!DOCTYPE html> 
<html>
<body>
<h1>Datos del Paciente </h1> 
<div>
    <% u = User.find(params[:id]) %>
    <div>
      <span id="Nombre">Nombre</span>
      <input readonly type="text"  value= "<%=u.name %>" name="Nombre" placeholder="Nombre" required>
    </div>

    <div>
      <span id="Apellido">Apellido</span>
      <input readonly type="text"  value= "<%= u.apellido %>" name="Apellido" placeholder="Apellido" required>
    </div>
    
    <div>
      <span id="DNI">DNI</span>
      <input readonly type="text"  value= "<%= u.dni %>" name="DNI" placeholder="DNI" required>
    </div>
    
     <div>
	<span id="Mail">Mail</span>
      <input readonly type="email"  value= "<%= u.email %>" name="Mail" placeholder="Mail" required>
    </div>
    
    <div>
      <span id="Apellido">Dirección</span>
      <input readonly type="text"  value= "<%= u.direccion %>" name="Direccion" placeholder="Dirección" required>
    </div>
    
    <div>
	<span id="Fecha de nacimiento">Fecha de Nacimiento</span>
      <input readonly type="date"  value= "<%= u.nacimiento %>" name="Nacimieno" placeholder="Fecha de nacimiento" required>
    </div>

    

    
<%= link_to "Atrás", pacientes_path(current_user) %>
   

</div>

</body>
</html>
