<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Mis Turnos </h1> 
<div>
   
        <h3> Turnos pasados </h3>
           <% Turno.all.where("fecha < ?", Date.today).where(user_id: current_user.id).order('fecha, hora').each do |turno|%>
              <p>
              <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19   
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla  
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
            <% end %> 
               <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>
           <% end %>
             <h3> Turnos del día </h3>
        <% Turno.all.where(user_id: current_user.id).where("fecha = ?", Date.today).order('fecha, hora').each do |turno| %> 
            <p>
            <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19   
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla   
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
            <% end %>  
                 <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>

       <% end %> 
        <h3> Turnos próximos </h3>
        <% Turno.all.where(user_id: current_user.id).where("fecha > ?", Date.today).order('fecha, hora').each do |turno| %> 
            <p>
            <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19
                      <button style="background-color:red">
	            <%= link_to "Cancelar Turno", cancelarturnocovid1_path(turno), class: 'btn btn-info btn-sm' %>
               </button>    
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19
               <button style="background-color:red">
	            <%= link_to "Cancelar Turno", cancelarturnocovid2_path(turno), class: 'btn btn-info btn-sm' %>
               </button>   
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla 
            	  <button style="background-color:red">
	            <%= link_to "Cancelar Turno", cancelarturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>   
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
                <button style="background-color:red">
	            <%= link_to "Cancelar Turno", cancelarturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>   
            <% end %>  
                 <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>

       <% end %> 

<%= link_to "Atrás", home_path %>
   

</div>

</body>
</html>
