<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @usuario.name %>, tenemos novedades respecto a su historial de certificados.</h1>
    <p>
      Tiene disponible para su visualización un nuevo certificado de vacunación.<br>
    </p>
    <p>
      Si lo desea, puede acceder con su cuenta de Vacunassist para ver el historial de certificados.
    </p>
    <p>¡Le deseamos un excelente día!</p>
  </body>
</html>