<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

 
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<a href="/users/sign_up">Sign up</a>

