<!DOCTYPE html> 
<html>
<h1> Editar Datos de Contacto de Vacunatorio: <%= @vacunatorio.nombre %> </h1>

<%= form_with model: @vacunatorio, url: ver_contacto_path(:id => @vacunatorio.id), method: :patch, local: true do |f| %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , autocomplete: "email", required: true %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.number_field :telefono, autofocus: true , autocomplete: "teléfono", required: true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Modificar Datos"%>
  </div>

 <% end %>
<br>

<%= link_to "Atrás", ver_contacto_path %>
</html>

