<!DOCTYPE html> 
<html>
<h1> Informacón de contacto Vacunassist</h1>
<table class = "table">
            <th>Nombre</th>
            <th>Lugar</th>
            <th>Email</th>
            <th>Telefono</th>
    <tbody>
    <% @v.each do |vac| %>
        <tr>
            <td>
                <% if vac.nombre == "Vacunatorio1" %>
                     Vacunatorio 1
                 <% elsif vac.nombre == "Vacunatorio2" %>
                           Vacunatorio 2
                 <% elsif vac.nombre == "Vacunatorio3" %>
                           Vacunatorio 3   
                 <% end %>
            </td>
            <td><%= vac.lugar %></td>
            <td><%= vac.email %></td>
            <td><%= vac.telefono %></td>
            <% if (current_user.rol == 3) %>
                <td>    
                    <button style="background-color:yellow">
                       <%= link_to "Modificar Datos de Contacto", edit_vacunatorio_path(:id => vac.id), class: 'btn btn-info btn-sm' %>
                    </button>
                </td>
            <% end %>
            
        </tr>
        
    <% end %>
    </tbody>
</table>

<%= link_to "Atrás", pantallaadmin_path %>
</html>
