
<%= search_form_for @q, url: estadisticas_mostrar_path do |f|%>
    <div class="form-group">
        <%= f.label "Turnos solicitados desde:" ,class:"field"%>
        <%= f.date_field :fecha_gteq, class: "form-control"%>
        <%= f.label "hasta:" %>
        <%= f.date_field :fecha_lteq, class: "form-control" %>
    </div>
    <br/>
    <%= f.submit "Buscar",class:"btn btn-primary"%>
<%end%>

