<!DOCTYPE html> 
<html>
<h1>Estadísticas</h1>
<% if user_signed_in? and current_user.rol == 3 %>
    <%= render 'seleccionar' %>
    <table class = "table", style="width:30%", style="text-align:left;">
        <% if params[:q].present? %>
            <% if not @t.any?%>
                No hay datos que mostrar en el período seleccionado.
        
            <% else %>
 	    <tr>
    		<th>Ausentes</th>
     		<td><%= @ausentes %></td>
  	    </tr>
  	    <tr>
    		<th>Vacunados</th>
    		<td><%= @vacunados %></td>
  	    </tr>
  	    <tr>
    		<th>Presentes no vacunados</th>
   	        <td><%= @no_vac %></td>
           </tr>
           <tr>
      		<th>Vacunados Covid</th>
    		<td><%= @vac_covid %></td>
 	   </tr>
    	   <tr>
    		<th>Vacunados Fiebre Amarilla</th>
    		<td><%= @vac_fiebre_am %></td>
          </tr>
          <tr>
               <th>Vacunados Gripe</th>
    	       <td><%= @vac_gripe %></td>
      	  </tr>
 
                <% end %>
            <% end %>
    </table>
<% else %>
    Acceso denegado.
<% end %>
<%= link_to "Atrás", pantallaadmin_path %>
</html>
