<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Historial de Turnos </h1> 
<div>
   <p>
      <%= form_tag(searchturnos_path, method: 'get') do %>
   <div class="input-group"> 
     <p>
      Turnos desde:
      <%= date_field_tag :fechainicio, params[:fechainicio], class: "form-control" %>
      </p>
      <p> 
      Hasta:
      <%= date_field_tag :fechafin, params[:fechafin], class: "form-control" %>
      </p> 
    <div class="input-group-btn">  
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:dni => nil%>  
    </div>  
  </div>  
  <% end %>
    </p>
    <%= link_to "Atrás", pantallaenfermero_path %>
</body>
</html>
