<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Historial de Turnos </h1> 
<div>
   <% u = User.find(params[:id]) %>
  <h3> Turnos pasados </h3>
           <% Turno.all.where("fecha < ?", Date.today).where(user_id: u.id).order('fecha, hora').each do |turno|%>
              <p>
              <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19   
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla  
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
            <% end %> 
               <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>
           <% end %>
        <h3> Turnos del dia </h3>
        <% Turno.all.where(user_id: u.id).where("fecha = ?", Date.today).order('fecha, hora').each do |turno| %> 
            <p>
            <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19  
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla 
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
            <% end %>  
                 <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>
             <% end %>
          <h3> Turnos próximos </h3>
            <% Turno.all.where(user_id: u.id).where("fecha > ?", Date.today).order('fecha, hora').each do |turno| %> 
            <p>
            <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19  
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla 
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe
            <% end %>  
                 <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>  

       <% end %> 


<%= link_to "Atrás", pacientes_path %>
   

</div>

</body>
</html>
