<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Turnos del dia <%= Date.today.day %> / <%= Date.today.month %> /  <%= Date.today.year %></h1> 
<div>
<% if user_signed_in? and current_user.rol == 2 %>
<button style="background-color:yellow">
     <%= link_to "Marcar Vacuna Aplicada Sin Turno", aplicadasinturno_path(current_user), class: 'btn btn-info btn-sm' %>
</button>
<% end %>
<% if user_signed_in? and current_user.rol == 2 %>
    <% if @t.any? %>
        <table class = "table">
                <tr>
                <th>Paciente</th>
             
                <th> Hora   </th>
               
                <th> Vacuna </th>
                <th> Asistencia <th>
                <th> Aplicada <th>
                </tr>
            <% @t.order('hora').each do |tur| %>
                <% @u = User.find(tur.user_id) %>
                <tr>
                    
                    <td><%= "#{@u.name} #{@u.apellido}" %></td>
                    <td><%= tur.hora.hour%>:<%= tur.hora.strftime('%M')%></td>
                    <td><% if tur.nombrevacuna == "covid1"%>
                                  Primera Dosis Covid 
                           <% elsif tur.nombrevacuna == "covid2" %>
                                  Segunda Dosis Covid 
                           <% elsif tur.nombrevacuna == "gripe" %>
                                  Gripe
                            <% elsif tur.nombrevacuna == "fiebreamarilla" %>
                                  Fiebre Amarilla      
                            <% end %>
                          </td>
                          <td>
                                <% if (tur.aplicada == true) %> 
                                  <button disabled=true>  <%= link_to "✓"%></button>
    			           <% else %>
	                           <button style="background-color:green">
      				       <%= link_to "✓", asistencia_path(tur.id), class: 'btn btn-info btn-sm' %>
      				    </button>
    			         <% end %>
                          </td>
                           <td>
                           
                           </td>
                           <td><% if ((tur.aplicada == true) or (tur.asistencia == nil or tur.asistencia == false)) %> 
                                  <button disabled=true>  <%= link_to "✓"%></button>
                                  <button disabled=true>  <%= link_to "X"%></button>
      				<% else %>  
                                  <button style="background-color:green">
      				   	 <%= link_to "✓", crearcomprobante_path(tur.id), class: 'btn btn-info btn-sm' %>
      				   </button>
      				   <button style="background-color:red">
      					<%= link_to "X", noaplicada_path(tur.id), class: 'btn btn-info btn-sm' %>
    			           </button>
    			       <% end %>
                      </td>
                          <td>
                           	<button style="background-color:yellow">
	          		   <%= link_to "Ver Información del Paciente", verdatospaciente_path(tur.user_id), class: 'btn btn-info btn-sm' %>
          			</button>   
                           </td>
                           <td>
                    <% if @u.historia.attached? %>
                            <button style="background-color:yellow">
                             <%= link_to "Ver Historia de Vacunación", @u.historia, class: 'btn btn-info btn-sm' %>
                            </button>
                      <% else %>
                            <button disabled=true style="background-color:grey;">
                             <%= link_to "Sin Historia", class: 'btn btn-info btn-sm' %>
                            </button>
                      <% end %>
                      </td>
                           <td>
                           <button style="background-color:yellow">
	                      <%= link_to "Ver Certificados del Paciente",comprobante_index_path(tur.user_id), class: 'btn btn-info btn-sm' %>
                          </button> 
                           </td>
                           <td>
                           <button style="background-color:yellow">
	          <%= link_to "Ver Historial de Turnos del paciente", historialdeturnospaciente_path(tur.user_id), class: 'btn btn-info btn-sm' %>
          </button>  
                           </td>
                           
                           <td>
                              <%= form_for tur do |f| %>
                                <div>
                                   <%= f.label :nota %>
                                   <%= f.text_field :texto%>  
                                   <%= f.submit "Agregar Nota"%>
                                </div>
                              
                                <% end %>
                           </td>
  
                </tr>
            <% end %>
         
        </table>
    <% else %>
        <h1>No hay turnos para este día</h1>
    <% end %>
<% end %>
<% if user_signed_in? and current_user.rol == 3 %>
    <% if @t.any? %>
        <table class = "table">
                <tr>
                <th>Paciente</th>
             
                <th> Hora   </th>
               
                <th> Vacuna </th>
                </tr>
            <% @t.order('hora').each do |tur| %>
                <% @u = User.find(tur.user_id) %>
                <tr>
                    
                    <td><%= "#{@u.name} #{@u.apellido}" %></td>
                    <td><%= tur.hora.hour%>:<%= tur.hora.strftime('%M')%></td>
                    <td><% if tur.nombrevacuna == "covid1"%>
                                  Primera Dosis Covid 
                           <% elsif tur.nombrevacuna == "covid2" %>
                                  Segunda Dosis Covid 
                           <% elsif tur.nombrevacuna == "gripe" %>
                                  Gripe
                            <% elsif tur.nombrevacuna == "fiebreamarilla" %>
                                  Fiebre Amarilla      
                            <% end %>
                          </td>

                     
                          <td>
                           	<button style="background-color:yellow">
	          		   <%= link_to "Ver Información del Paciente", verdatospaciente_path(tur.user_id), class: 'btn btn-info btn-sm' %>
          			</button>   
                           </td>
                           <td>
                    <% if @u.historia.attached? %>
                            <button style="background-color:yellow">
                             <%= link_to "Ver Historia de Vacunación", @u.historia, class: 'btn btn-info btn-sm' %>
                            </button>
                      <% else %>
                            <button disabled=true style="background-color:grey;">
                             <%= link_to "Sin Historia", class: 'btn btn-info btn-sm' %>
                            </button>
                      <% end %>
                      </td>
                           <td>
                           <button style="background-color:yellow">
	                      <%= link_to "Ver Certificados del Paciente",comprobante_index_path(tur.user_id), class: 'btn btn-info btn-sm' %>
                          </button> 
                           </td>
  
                </tr>
            <% end %>
         
        </table>
    <% else %>
        <h1>No hay turnos para este día</h1>
    <% end %>
<% end %>
<%= link_to "Atrás", pantallaenfermero_path %>
</div>
</body>
</html>
