<!DOCTYPE html> 
<html>
<body>
<h1>Resultados de la Búsqueda</h1> 
   <% if not @turnos.any? %>
      <p> No hay coincidencias </p>
   <% end %> 
   <% @turnos.all.order('fecha').each do |turno| %>
       <p>
           <% @id = turno.user_id %>
           
              <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %> 
               <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
       </p>
         
    <% end %> 


    
<%= link_to "Atrás", historialdeturnos_path(current_user) %>
   

</div>

</body>
</html>
