<!DOCTYPE html> 
<html>
<body>
<h2>Mis Datos</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
   <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, required: true%>
  </div>
  
    <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :dni, "DNI" %><br />
    <%= f.number_field :dni, autofocus: true %>
  </div>
  
    <div class="field">
    <%= f.label :nacimiento, "Fecha de nacimiento" %><br />
    <%= f.date_field :nacimiento, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :dirección %><br />
    <%= f.text_field :direccion, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :contraseña%> <i>(Deje en blanco en caso de no querer cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmaciòn_de_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual%> <i>(Necesitamos su contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  

    <br/>
    <div class="field">
    <%= f.label :'Suba un archivo PDF o Imagen de su Historia de Vacunación' %><br />
    <%= f.file_field :historia, class: 'input' %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit "Modificar"%>
  </div>
<% end %>

<br>
<%= link_to "Atrás", verdatos_path(current_user) %>
</body>
</html>
