<!DOCTYPE html> 
<html>
<body>
<h1> Mis Datos </h1> 
<div>

    <div>
      <span id="Nombre">Nombre</span>
      <input type="text"  value= "<%= User.find(params[:id]).name %>" name="Nombre" placeholder="Nombre" required>
    </div>

    <div>
      <span id="Apellido">Apellido</span>
      <input readonly type="text"  value= "<%= User.find(params[:id]).apellido %>" name="Apellido" placeholder="Apellido" required>
    </div>
    
    <div>
      <span id="DNI">DNI</span>
      <input readonly type="text"  value= "<%= User.find(params[:id]).dni %>" name="DNI" placeholder="DNI" required>
    </div>
    
     <div>
	<span id="Mail">Mail</span>
      <input readonly type="email"  value= "<%= User.find(params[:id]).email %>" name="Mail" placeholder="Mail" required>
    </div>
    

   

</div>

</body>
</html>
